<h2>Lista korisnika</h2>
<br />
<table class="table table-hover">
    <thead>
        <th style="width: 10%">#</th>
        <th style="width: 60%" class="text-center">Korisnik</th>
        <th style="width: 15%"></th>
        <th style="width: 15%"></th>
    </thead>
    <tbody>
        <tr style="vertical-align: center" *ngFor="let user of users; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>
                <table style="width: 100%">
                    <tr>
                        <td>Tip korisnika:</td>
                        <td class="text-right" data-original-title="Ovo polje se ne može promeniti"
                            data-container="body" data-toggle="tooltip" data-placement="bottom" title="">
                            <span *ngIf="user.type == 'poljoprivrednik'">Poljoprivrednik</span>
                            <span *ngIf="user.type == 'preduzece'">Preduzeće</span>
                            <span *ngIf="user.type == 'admin'">Administrator</span>
                        </td>
                    </tr>
                    <tr *ngIf="user.type == 'preduzece'">
                        <td>Naziv preduzeća:</td>
                        <td #fullName id="fullName_{{user.username}}" class="text-right" contenteditable="true"
                            data-original-title="Ovo polje se može promeniti" data-container="body"
                            data-toggle="tooltip" data-placement="bottom" title="">
                            {{user.fullName}}
                        </td>
                    </tr>
                    <tr *ngIf="user.type != 'preduzece'">
                        <td>Ime:</td>
                        <td #firstName id="firstName_{{user.username}}" class="text-right" contenteditable="true"
                            data-original-title="Ovo polje se može promeniti" data-container="body"
                            data-toggle="tooltip" data-placement="bottom" title="">
                            {{user.firstName}}
                        </td>
                    </tr>
                    <tr *ngIf="user.type != 'preduzece'">
                        <td>Prezime:</td>
                        <td #lastName id="lastName_{{user.username}}" class="text-right" contenteditable="true"
                            data-original-title="Ovo polje se može promeniti" data-container="body"
                            data-toggle="tooltip" data-placement="bottom" title="">
                            {{user.lastName}}
                        </td>
                    </tr>
                    <tr>
                        <td>Korisničko ime:</td>
                        <td class="text-right" data-original-title="Ovo polje se ne može promeniti"
                            data-container="body" data-toggle="tooltip" data-placement="bottom" title="">
                            {{user.username}}</td>
                    </tr>
                    <tr>
                        <td>
                            <span>{{user.type != 'preduzece' ? 'Datum rođenja:' : 'Datum osnivanja:'}}</span>
                        </td>
                        <td class="text-right" data-original-title="Ovo polje se ne može promeniti"
                            data-container="body" data-toggle="tooltip" data-placement="bottom" title="">
                            {{user.date | date : "dd MMM yyyy"}}</td>
                    </tr>
                    <tr *ngIf="user.type != 'admin'">
                        <td>
                            <span>{{user.type == 'poljoprivrednik' ? 'Mesto rođenja:' : 'Mesto preduzeća:'}}</span>
                        </td>
                        <td class="text-right" data-original-title="Ovo polje se ne može promeniti"
                            data-container="body" data-toggle="tooltip" data-placement="bottom" title="">{{user.place}}
                        </td>
                    </tr>
                    <tr *ngIf="user.type == 'poljoprivrednik'">
                        <td>Broj telefona:</td>
                        <td #phone id="phone_{{user.username}}" class="text-right" contenteditable="true"
                            data-original-title="Ovo polje se može promeniti" data-container="body"
                            data-toggle="tooltip" data-placement="bottom" title="">+381
                            {{user.phone}}</td>
                    </tr>
                    <tr>
                        <td>Email adresa:</td>
                        <td #email id="email_{{user.username}}" class="text-right" contenteditable="true"
                            data-original-title="Ovo polje se može promeniti" data-container="body"
                            data-toggle="tooltip" data-placement="bottom" title="">{{user.email}}
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <form class="form-group text-center">
                    <button style="width: 100%" type="button" class="btn btn-success btn-sm" (click)="update(user)">Ažuriraj</button>
                </form>
            </td>
            <td>
                <form class="form-group text-center">
                    <button style="width: 100%" type="button" class="btn btn-danger btn-sm" (click)="delete(user)">Obriši</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>