<h2>Promena lozinke</h2>
<br>
<div class="container col-10">
    <form>
        <div class="form-group has-danger has-success">
            <label for="inputOldPassword">Stara lozinka</label>
            <input type="password" class="form-control" id="inputOldPassword" placeholder="Unesite staru lozinku"
                [ngClass]="{'is-invalid': oldPasswordCheck > 1, 'is-valid': oldPasswordCheck == 1}"
                [(ngModel)]="oldPassword" name="oldPassword" required>
            <small id="oldPassword1Msg" class="invalid-feedback">
                <span *ngIf="oldPasswordCheck == 2">Ovo polje je obavezno</span>
                <span *ngIf="oldPasswordCheck == 3">Lozinka je pogrešna</span>
            </small>
        </div>

        <div class="form-group has-danger has-success">
            <label for="inputPassword1">Nova lozinka</label>
            <input type="password" class="form-control" id="inputPassword1" placeholder="Unesite novu lozinku"
                [ngClass]="{'is-invalid': passwordCheck > 1, 'is-valid': passwordCheck == 1}" [(ngModel)]="password"
                name="password" required>
            <small id="password1Msg" class="invalid-feedback">
                <span *ngIf="passwordCheck == 2">Ovo polje je obavezno</span>
                <span *ngIf="passwordCheck == 3">Unete lozinke se ne poklapaju</span>
                <span *ngIf="passwordCheck == 4">Lozinka mora imati najmanje 7 karaktera, od toga bar 1 veliko slovo, 1
                    broj, 1 specijalni karakter i mora počinjati slovom</span>
                <span *ngIf="passwordCheck == 5">Nova lozinka se mora razlikovati od stare</span>
            </small>
        </div>

        <div class="form-group has-danger has-success">
            <label for="inputPassword2">Potvrda nove lozinke</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Potvrdite novu lozinku"
                [ngClass]="{'is-invalid': passwordConfirmationCheck > 1, 'is-valid': passwordConfirmationCheck == 1}"
                [(ngModel)]="passwordConfirmation" name="passwordConfirmation" required>
            <small id="password2Msg" class="invalid-feedback">
                <span *ngIf="passwordConfirmationCheck == 2">Ovo polje je obavezno</span>
                <span *ngIf="passwordConfirmationCheck == 3">Unete lozinke se ne poklapaju</span>
                <span *ngIf="passwordConfirmationCheck == 4">Lozinka mora imati najmanje 7 karaktera, od toga bar 1
                    veliko slovo, 1 broj, 1 specijalni karakter i mora počinjati slovom</span>
                <span *ngIf="passwordConfirmationCheck == 5">Nova lozinka se mora razlikovati od stare</span>
            </small>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="changePassword()">Promeni lozinku</button>
        </div>
    </form>
</div>