.bs-datepicker-body table td.week span {
  color: #78C2AD !important; 
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover {
  background-color: #78C2AD !important; 
}

html {
  min-height: 100%;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#sticky-footer {
  margin-top: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
